.post {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;

	&_title {
		margin: 50px 0;
	}
	&_image {
		margin-bottom: 50px;
	}

	&_content {
		background: red;
		width: 100%;
		font-size: 1.5rem;
		margin: 50px;
	}
	&_comments {
		width: 100%;
		margin: 50px 0 100px 0;

		& > p {
			font-size: 1.2rem;
		}
	}

	&_addComment {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 50px;
		height: 250px;
	}
}
