@import '../../../../../styles/variables.scss';
.recentPosts {
	margin-bottom: 150px;
	&_aboutUs,
	&_button,
	&_posts {
		margin: 0 $gap_25;
	}

	&_header {
		margin: 0 auto;
	}
	&_posts > div {
		margin-bottom: 20px;
	}

	&_button {
		margin: $gap_50 0;
		text-align: center;
		grid-row: 3;
	}

	&_posts > div {
		margin: 0 auto;
	}

	@media (min-width: $media_xl) {
		& {
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			grid-gap: 1rem;
		}

		&_header {
			grid-column: 5/7;
			text-align: center;
			width: auto;
		}

		&_posts {
			grid-column: 1/8;
		}
		&_aboutUs {
			grid-column: 8/11;
			margin: 0 $gap_25;

			& > div > p {
				margin-top: 0;
			}
		}

		&_button {
			grid-column: 5/7;
		}
	}
}
