@import '../../../../../styles/variables.scss';
.aboutUs {
	// margin-top: 50px;
	// background: red;
	// grid-column: 2/12;

	&_title {
		font-size: 2rem;
		// grid-column: 1/13;
		text-align: center;
		border-top: 2px solid var(--secondary);
		border-bottom: 2px solid var(--secondary);
		padding: 5px 0;
		margin: $gap_50 0;
	}

	&_img {
		// grid-column: 2/12;
		// grid-row: 2;
		margin: $gap_25 0;
		text-align: center;
	}

	&_description {
		// grid-column: 2/12;
		text-align: justify;
		padding: 15px 10px;
		font-size: $mobile_fontSize;
	}

	&_social {
		// grid-column: 2/12;
		text-align: center;
		margin-bottom: $gap_50;

		& > img {
			margin: 0 20px;
		}
	}
}
