@import '../../../../styles/variables.scss';
.navigation {
	&_link {
		margin: 20px 0;
		text-align: center;
	}

	&_link a {
		text-decoration: none;
		color: var(--primary);
		letter-spacing: 5px;
		padding-bottom: 5px;
	}
	&___active {
		border-bottom: 2px solid var(--primary);
	}

	@media (min-width: $media_lg) {
		& {
			display: flex;

			&_link a {
				margin: 0 20px;
				color: var(--secondary);
			}
		}

		&___active {
			border-bottom: 2px solid var(--secondary);
		}
	}
}
