@import '../../../../styles/mixins.module.scss';
@import '../../../../styles/variables.scss';
.contact {
	display: flex;
	flex-direction: column;
	margin: 0 $gap_50;
	min-height: calc(100vh - 270px);

	&_image {
		width: 100%;
		@include boxShadow;
	}

	&_content {
		font-size: $mobile_fontSize;
		text-align: justify;
		margin-top: 25px;
		margin-bottom: 50px;
		border-top: 1px solid #e2e2e2;
		padding-top: 25px;
	}

	@media (min-width: $media_lg) {
		& {
			width: 70%;
			align-items: center;
			margin: $gap_50 auto;
		}

		&_content {
			border-top: none;
		}
	}

	@media (min-width: $media_md) {
		& {
			min-height: calc(100vh - 190px);
		}
	}
}
