@import '../../../../styles/mixins.module.scss';
@import '../../../../styles/variables.scss';
.contact {
	margin-bottom: $gap_25;
	&_imageContainer {
		// width: 100%;
		grid-column: 2/12;
	}
	&_image {
		width: 100%;
		@include boxShadow;
	}

	&_content {
		grid-column: 2/12;
		font-size: $mobile_fontSize;
		text-align: justify;
		margin-top: 25px;
		margin-bottom: 50px;
		border-top: 1px solid #e2e2e2;
		padding-top: 25px;
	}
}
