@import '../../../../../styles/mixins.module.scss';
@import '../../../../../styles/variables.scss';
.comment {
	background: $primary;
	@include boxShadow;
	padding: 10px 20px;
	font-size: 1.2rem;
	max-width: 1500px;
	margin: 20px auto;

	&_content {
		margin: 10px 0;
	}

	&_author {
		font-weight: bold;
		font-size: 0.9rem;
	}
}
