@import '../../../../../styles/mixins.module.scss';

.comment {
	background: var(--primary);
	@include boxShadow;
	padding: 10px 20px;
	font-size: 1.2rem;
	max-width: 1500px;
	margin: 0 auto;

	&_content {
		margin: 10px 0;
	}

	&_author {
		font-weight: bold;
		font-size: 0.9rem;
	}
}
