@import '../../../../../../styles/variables.scss';
.stats {
	// grid-column: 2/12;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	// background: blue;
	// width: 25%;
	// height: 50%;
	border-bottom: 1px solid var(--secondary);

	&:last-child {
		border-bottom: none;
	}

	&_amount {
		font-size: 4rem;
		font-weight: bold;
		letter-spacing: 5px;
	}

	@media (min-width: 1040px) {
		&:nth-child(3) {
			border-bottom: none;
		}
	}

	@media (min-width: $media_xl) {
		& {
			border-bottom: none;
		}
	}
}
