@import '../../../styles/variables.scss';
.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: $secondary;
	padding: 0 20px;
	text-align: center;
	height: 150px;

	&_copyrights {
		color: #686868;
		font-size: 1rem;
		margin: 10px 0;
	}

	&_button {
		width: auto;
		font-size: 2rem;
		background: none;
		border: none;
		outline: none;
		order: -1;
		margin: 10px 0;

		& > i {
			color: #686868;
			transition: all 0.3s;

			&:hover {
				cursor: pointer;
				color: darken($secondary, 10%);
			}
		}
	}

	@media (min-width: $media_md) {
		& {
			flex-direction: row;
			height: 70px;

			&_copyrights {
				margin-right: auto;
			}

			&_button {
				order: 1;
			}
		}
	}
}
