@import '../../../../styles/variables.scss';
.favourites {
	padding-bottom: $gap_section;
	min-height: calc(100vh - 270px);
	margin: 0 $gap_25;

	@media (min-width: $media_md) {
		& {
			min-height: calc(100vh - 240px);
		}
	}
}
