// Need this for using in media queries. I do not include here my colors variables to avoid unnecessary duplications

// Media Queries
$media_sm: 576px;
$media_md: 768px;
$media_lg: 992px;
$media_xl: 1200px;
$media_xxl: 1400px;

// Font Sizes
$mobile_fontSize: 1.2rem;

// Gaps
$gap_25: 25px;
$gap_50: 50px;
